body {
  margin: 0;
}

/* Navbar */

.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 45px;
}

#navbar-pad {
  width: 100%;
  height: 45px;
  border: solid 1px black;
}

#navbar-left {
  width: 235px;
  float: left;
}

#navbar-logo-btn img {
  height: 45px;
  width: 90px;
}

#navbar-right {
  float: right;
}

#search-bar {
  width: 582px;
  height: 27px;
  display: inline;
  margin-right: 3px;
}

#search-submit-btn {
  width: 66px;
  height: 33px;
  display: inline;
}

.search-form {
  float: left;
  margin-top: 7px;
}

/* Main Content Area */

.container-content {
  background-color: #aaa;
  padding: 10px;
}

/*Clearfix*/
.container-content::after { 
  content: "";
  display: block; 
  clear: both;
}

.subcontainer-content {
  float: left;
  clear: left;
  width: 854px;
  margin: 5px;
  background-color: #fff;
}

/*Video*/

#video {
  height: 480px;
  background-color: black;
  color: white;
}

#youtube-video {
  height: 480px;
  width: 800px;
  margin-left: 24px;
}

/*Video Social Media Block*/

#social-data {
  height: 150px;
}

#video-info {
  height: 125px;
}

#comments {
  height: 1200px;
}

/*Sidebar*/

.sidebar-right {
  background-color: #fff;
  float: right;
  width: 416px;
  height: 2000px;
  margin: 10px;
}

.sidebar-right h3 {
  margin: 0;
}

.sidebar-container {
  background-color: #fff;
  height: 120px;
  border-bottom: solid 1px gray;
}

.video-thumb {
  height: 94px;
  width: 168px;
  float: left;
  margin: 10px 0 10px 10px;
}

.video-title {
  height: 94px;
  width: 200px;
  float: right;
  margin: 10px 10px 10px 0;
}



